{{#paper-content scroll-y=true class="layout-padding flex"}}
  <div class="doc-content">
    <h2 class="md-headline">Travelonline</h2>
    <p>This project aims to bring Google's new <a href="https://www.google.com/design/spec/material-design/introduction.html">Material Design</a> to Ember. The goal is to encapsulate everything possible in Ember components. This project is packaged as an <a href="http://www.ember-cli.com/">Ember-cli</a> addon.</p>
    <h2 class="md-headline">Installation</h2>
  </div>
{{/paper-content}}

{{outlet}}
